<!DOCTYPE html>

<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sucesso | ElevaEmpilhadeiras</title>


  <link rel="icon" href="/images/logo-eleva.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/views.css" />
  <link rel="stylesheet" href="/css/primary-button.css" />
  <link rel="stylesheet" href="/css/page-forms.css" />
  <link rel="stylesheet" href="/css/items.css" />
  <link rel="stylesheet" href="/css/secondary-button.css" />
  <link rel="stylesheet" href="/css/home.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="page-creates">
    <aside class="animate-down sidebar">
      <img class="image-aside" src="/images/logo-eleva.png" alt="logo eleva" />

      <footer>
          <a href="/"><button><img src="/images/arrow-back.svg" alt="Voltar" /></button></a>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar">
      <div class="container">
        <fieldset>
          {{#if errormessage}}
            <legend>Erro</legend>

              <div class="alert-message-top">
                <h4>{{errormessage}}</h4>

          {{/if}}
          {{#if items_length}}
                <br>
                <p style="color: #000">{{items_length}}</p>
              </div>
              <a href="/" class="choose-button">Voltar para Home</a>
              <a href="/orders/delete/{{order_id}}" class="choose-button-overlay">Apagar somente OS</a>
          {{else if errormessage}} 
              </div>
              <a href="/" class="choose-button">Voltar para Home</a>
          {{/if}}
          {{#if successmessage}}
            <legend>Sucesso</legend>

              <h4 class="success-message-top">{{successmessage}}</h4>
              <a href="/" class="choose-button">Voltar para Home</a>
          {{/if}}

  
  <script src="/scripts/animations.js"></script>
</body>

</html>