<!DOCTYPE html>

<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordem de Serviço | ElevaEmpilhadeiras</title>


  <link rel="icon" href="/images/logo-eleva.png" />

  <link rel="stylesheet" href="/style/main.css" />
  <link rel="stylesheet" href="/style/animations.css" />
  <link rel="stylesheet" href="/style/sidebar.css" />
  <link rel="stylesheet" href="/style/views.css" />
  <link rel="stylesheet" href="/style/primary-button.css" />
  <link rel="stylesheet" href="/style/page-forms.css" />
  <link rel="stylesheet" href="/style/items.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/home.css">
    <script src="https://kit.fontawesome.com/a1c18692b7.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="page-creates">
    <aside class="animate-down sidebar">
      <img class="image-aside" src="/images/logo-eleva.png" alt="logo eleva" />

      <footer>
        <button>
          <a href="/"><img src="/images/arrow-back.svg" alt="Voltar" /></a>
        </button>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar">
      <div class="container">
        <fieldset>
          <legend>Editar Ordem de Serviço</legend>
          {{#if successmessage}}
              <h4 class="success-message-top">{{successmessage}}</h4>
          {{/if}}

          {{#if alertmessage}}
            <h4 class="alert-message-top">{{alertmessage}}</h4>
            <a href="/customerVerify" class="primary-button"><span>Cadastrar</span></a>


          {{else}}
          <table>
            <thead>
              <tr>
                <div class="menu-items">
                  <th>Cliente</th>
                  <th>CPF/CNPJ</th>
                  <th>Responsável</th>
                  <th class="th-center">Tipo</th>
                  <th>Status</th>
                  <th>Editar</th>
                  <th>Apagar</th>
                </div>
              </tr>
            </thead>
          {{/if}}
            <tbody>
              {{#each items}}
              <tr class="item">
                  <td>{{name}}</td>
                  <td>{{identify}}</td>
                  <td>{{responsible}}</td>
                  <td>{{type}}</td>
                  <td>{{status}}</td>
                  <td class="button-options"><a href="/view/orderEdit/{{id}}"><button class="edit-button" type="submit"><i class="fas fa-edit"></button></a></td>
                  <td class="button-options"><a href="/view/orderDelete/{{id}}"><button class="delete-button" type="submit"><i class="fas fa-trash-alt"></i></button></a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
  
  <script src="/scripts/animations.js"></script>
</body>

</html>