<!DOCTYPE html>

<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordem de Serviço | ElevaEmpilhadeiras</title>


  <link rel="icon" href="/images/logo-eleva.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/primary-button.css" />
  <link rel="stylesheet" href="/css/page-forms.css" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <div id="page-creates">
    <aside class="animate-down sidebar">
      <img class="image-aside" src="/images/logo-eleva.png" alt="logo eleva" />

      <footer>
          <a href="/"><button><img src="/images/arrow-back.svg" alt="Voltar" /></button></a>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar">
      <form action="/orders/newAll" method="POST">  <!-- Criando a rota de envio para o banco de dados -->
        <fieldset>
          <legend>Cadastro de Cliente</legend>

          {{#if alertmessage}}
            <h4 class="alert-message-top">{{alertmessage}}</h4>
          {{else if successmessage}}
            <h4 class="success-message-top">{{successmessage}}</h4>
          {{/if}}

          <div class="input-block">
            <label for="customerName">Nome/Razão Social</label>
            <input id="customerName" name="customerName" maxlength="100" value="{{customer.customerName}}" required />
          </div>

          <div class="input-block">
            <label for="identify">CPF/CNPJ do Requisitante<span>Somente números</span></label>
            <input id="identify" name="identify" maxlength="15" value="{{customer.identify}}" required />
          </div>

          <div class="input-block">
            <label for="email">E-mail do Requisitante</label>
            <input type="email" id="email" name="customer_email" maxlength="100" value="{{customer.email}}" required />
          </div>

          <div class="input-block">
            <label for="telephone">Telefone para Contato / Whatsapp</label>
            <input id="telephone" name="telephone" value="{{customer.telephone}}" required />
          </div>
        </fieldset>
        <fieldset>
          <legend>Endereço</legend>

          <div class="input-block">
            <label for="adress">Rua</label>
            <input id="adress" name="adress" value="{{customer.adress}}" required />
          </div>

          <div class="input-block input-row">
            <div class="input-block row">
                <label for="adressNumber">Número</label>
                <input type="number" id="adressNumber" name="adressNumber" value="{{customer.adressNumber}}" required />
            </div>
            <div class="input-block row">
                <label for="cep">CEP<span>Somente números</span></label>
                <input id="cep" name="cep" value="{{customer.cep}}" required />
            </div>
          </div>

          <div class="input-block">
            <label for="adressComplement">Complemento</label>
            <input id="adressComplement" name="adressComplement" value="{{customer.adressComplement}}" required />
          </div>
        </fieldset>
        <fieldset>
          <legend>Equipamento</legend>
          <div class="input-block">
              <label for="equipment_situation">Situação</label>
              <input type="hidden" id="equipment_situation" name="equipment_situation" {{#if customer.equipment_situation}}value="{{customer.equipment_situation}}"{{else}}value="new"{{/if}} required />

              <div class="button-select equipment-select">
                {{#if equipCheck}}
                  <button data-type="new" onclick="toggleSelectOSequipment(event)" type="button">
                    Cadastrar
                  </button>
                  <button data-type="old" onclick="toggleSelectOSequipment(event)" type="button" class="active">
                    Utilizar Existente
                  </button>
                 {{else}}
                  <button data-type="new" onclick="toggleSelectOSequipment(event)" type="button" class="active">
                    Cadastrar
                  </button>
                  <button data-type="old" onclick="toggleSelectOSequipment(event)" type="button">
                    Utilizar Existente
                  </button>
                 {{/if}}
              </div>
          </div>

          {{#if equipCheck}}

          <div id="newEquipment" style="display: none;">
              <div class="input-block">
                <label for="equipment_type">Fornecedor</label>
                <input type="hidden" id="equipment_type" name="provider_type" value="Eleva"/>

                <div class="button-select type-select">
                    <button data-type="Eleva" onclick="toggleSelectEquipment(event)" type="button" class="active">
                      Eleva
                    </button>
                    <button data-type="Terceiro" onclick="toggleSelectEquipment(event)" type="button">
                      Terceiro
                    </button>
                </div>
              </div>


              <div class="input-block">
                <label for="made">Fabricante</label>
                <input id="made" name="made"/>
              </div>

              <div class="input-block">
                <label for="model">Modelo</label>
                <input id="model" name="model" maxlength="25"/>
              </div>

              <div class="input-block">
                <label for="price">Preço<SPAN>(R$)</SPAN> </label>
                <input type="number" id="price" name="price" step="0.01"/>
              </div>

              <div class="input-block">
                <label for="equipment_description">Descrição<span>Máximo de 200 caracteres</span></label>
                <textarea maxlength="200" id="equipment_description" name="equipment_description"></textarea>
              </div>
          </div> 
          <div class="input-block" id="oldEquipment" style="display: block;">
              {{#if emptymessage}}
                  <h4 class="alert-message-top">{{emptymessage}}</h4>
              {{else}}
                <div class="input-block">
                    <label for="provider">Fornecedor</label>
                    <select name="provider_name" class="provider-list" id="provider" onchange="setProvider(this.id)" required>

                      <option value="" selected hidden disabled>Selecione</option>
                      <option value="Eleva">Eleva</option>
                      <option value="Terceiro">Terceiro</option>

                    </select>
                    
                
                <div class="input-block">
                  <label for="equipments">Escolha o equipamento:</label>
                  <select class="equipment-list" name="equipment_id" id="equipments" required>
                    <option id="default-equipment" value="" >Selecione</option>
                        {{#each equipment}}
                          <option class="provider-{{provider}}" value="{{id}}" style="display: none;">{{manufacturer}} {{model}}</option>
                      {{/each}}
                  </select>
                  </div>
                </div>
              {{/if}}
          </div>

          {{else}}

          <div id="newEquipment" style="display: block;">
              <div class="input-block">
                <label for="equipment_type">Fornecedor</label>
                <input type="hidden" id="equipment_type" name="provider_type" {{#if customer.equipment_situation}}value="{{customer.provider_type}}"{{else}}value="Eleva"{{/if}} required />

                
                <div class="button-select type-select">
                  {{#if providerType}}
                    <button data-type="Eleva" onclick="toggleSelectEquipment(event)" type="button" >
                      Eleva
                    </button>
                    <button data-type="Terceiro" onclick="toggleSelectEquipment(event)" type="button" class="active">
                      Terceiro
                    </button>
                  {{else}}
                    <button data-type="Eleva" onclick="toggleSelectEquipment(event)" type="button" class="active">
                      Eleva
                    </button>
                    <button data-type="Terceiro" onclick="toggleSelectEquipment(event)" type="button">
                      Terceiro
                    </button>
                  {{/if}}
                </div>
              </div>


              <div class="input-block">
                <label for="made">Fabricante</label>
                <input id="made" name="made" value="{{customer.made}}" required />
              </div>

              <div class="input-block">
                <label for="model">Modelo</label>
                <input id="model" name="model" maxlength="25" value="{{customer.model}}" required />
              </div>

              <div class="input-block">
                <label for="price">Preço<SPAN>(R$)</SPAN> </label>
                <input type="number" id="price" name="price" step="0.01" value="{{customer.price}}" required />
              </div>
          </div> 
          <div class="input-block" id="oldEquipment" style="display: none;">
              {{#if emptymessage}}
                  <h4 class="alert-message-top">{{emptymessage}}</h4>
              {{else}}
                <div class="input-block">
                    <label for="provider">Fornecedor</label>
                    <select name="provider_name" class="provider-list" id="provider" onchange="setProvider(this.id)">

                      <option value="" selected hidden disabled>Selecione</option>
                      <option value="Eleva">Eleva</option>
                      <option value="Terceiro">Terceiro</option>

                    </select>
                    
                
                <div class="input-block">
                  <label for="equipments">Escolha o equipamento:</label>
                  <select class="equipment-list" name="equipment_id" id="equipments">
                    <option id="default-equipment" value="" >Selecione</option>
                        {{#each equipment}}
                          <option class="provider-{{provider}}" value="{{id}}" style="display: none;">{{manufacturer}} {{model}}</option>
                      {{/each}}
                  </select>
                  </div>
                </div>
              {{/if}}
          </div>

          {{/if}}
        </fieldset> 
        <fieldset>
          <legend>Dados (OS)</legend>

          <div class="input-block">
            <label for="responsible">Responsável</label>
            <input id="responsible" name="responsible" value="{{customer.responsible}}" required />
          </div>

        <div class="input-block">
          <label for="os_type">Tipo de atendimento</label>
          <input type="hidden" id="os_type" name="os_type" {{#if customer.os_type}}value="{{customer.os_type}}"{{else}}value="Requisição"{{/if}} required />

          <div class="button-select ostype-select">
             {{#if orderType}}
              <button data-status="Requisição" onclick="toggleSelectOsType(event)" type="button" >
                Requisição
              </button>
              <button data-status="Incidente" onclick="toggleSelectOsType(event)" type="button" class="active">
                Incidente
              </button>
            {{else}}
              <button data-status="Requisição" onclick="toggleSelectOsType(event)" type="button" class="active">
                Requisição
              </button>
              <button data-status="Incidente" onclick="toggleSelectOsType(event)" type="button">
                Incidente
              </button>
            {{/if}}
          </div>

          <div class="input-block">
            <label for="description">Descrição<span>Máximo de 300 caracteres</span></label>
            <textarea maxlength="300" id="description" name="description" required>{{customer.description}}</textarea>
          </div>

          <div class="input-block">
            <label for="status">Status</label>
            <input type="hidden" id="status" name="status" {{#if customer.status}}value="{{customer.status}}"{{else}}value="Aberto"{{/if}} required />

           <div class="button-select-status">
              {{#if progress}}
                <button data-value="Aberto" onclick="toggleSelectStatus(event)" type="button">
                  Aberto
                </button>
                <button data-value="Em andamento" onclick="toggleSelectStatus(event)" type="button" class="active">
                  Em Andamento
                </button>
                <button data-value="Fechado" onclick="toggleSelectStatus(event)" type="button">
                  Fechado
                </button>
              {{else if closed}}
                <button data-value="Aberto" onclick="toggleSelectStatus(event)" type="button">
                  Aberto
                </button>
                <button data-value="Em andamento" onclick="toggleSelectStatus(event)" type="button">
                  Em Andamento
                </button>
                <button data-value="Fechado" onclick="toggleSelectStatus(event)" type="button" class="active">
                  Fechado
                </button>
              {{else}}
                <button data-value="Aberto" onclick="toggleSelectStatus(event)" type="button" class="active">
                    Aberto
                  </button>
                  <button data-value="Em andamento" onclick="toggleSelectStatus(event)" type="button">
                    Em Andamento
                  </button>
                  <button data-value="Fechado" onclick="toggleSelectStatus(event)" type="button">
                    Fechado
                  </button>
              {{/if}}

            </div>
          </div>
        </fieldset>
        <button type="submit" class="primary-button">Criar</button>
      </form>
    </main>
  </div>

  <script src="/scripts/animations.js"></script>

</body>

</html>