<!DOCTYPE html>

<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Usuário | ElevaEmpilhadeiras</title>


  <link rel="icon" href="/images/logo-eleva.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/primary-button.css" />
  <link rel="stylesheet" href="/css/page-forms.css" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <div id="page-creates">
    <aside class="animate-down sidebar">
      <img class="image-aside" src="/images/logo-eleva.png" alt="logo eleva" />

      <footer>
        <button>
          <a href="/"><img src="/images/arrow-back.svg" alt="Voltar" /></a>
        </button>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar">
      <form action="/users/update" method="POST">  <!-- Criando a rota de envio para o banco de dados -->
        <fieldset>
          <legend>Editar Usuário</legend>

          <input type="hidden" id="user_id" name="user_id" value="{{users.id}}" />

          <div class="input-block">
            <label for="username">Nome</label>
            <input id="username" name="name" maxlength="100" value="{{users.name}}"  required />
          </div>

          <div class="input-block">
            <label for="email">E-mail para login</label>
            <input type="email" id="email" name="email" maxlength="50" value="{{users.email}}" required />
          </div>

          <div class="input-block">
            <label for="role">Função</label>
            <input id="role" name="role" maxlength="30" value="{{users.role}}" required />
          </div>

          <div class="input-block">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" minlenght="6" />
          </div>

          <div class="input-block">
            <label for="passwordConfirm">Confirmação de Senha</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" minglenght="6" />
          </div>

          {{#if alertmessage}}
            <h4 class="alert-message">{{alertmessage}}</h4>
          {{else if successmessage}}
            <h4 class="success-message">{{successmessage}}</h4>
          {{/if}}

          <button type="submit" class="primary-button">Editar</button>

        </fieldset>
  </form>
  </main>
  </div>

  <script src="../scripts/page-creates.js"></script>

</body>

</html>